<section id="testimonials" class="testimonials">
  <h2>Testimonials</h2>
  <div class="testimonial-container">
    <div class="testimonial-card">
      <p>"I highly recommend Sarang for any future endeavors, and I'm confident he will continue to shine in any role he's in and overcome any challenges he may face!"</p>
      <h4>– Hariom Kashyap</h4>
      <span>Software Architect, Amdocs</span>
    </div>
    <div class="testimonial-card">
      <p>"Sarang has always been a curious person. He is willing to take risks, make mistakes, and learn from them.  
      He comes up with new ideas, never afraid of trying, and puts in the effort every time."</p>
      <h4>– Ankur Singh</h4>
      <span>AI Engineer | GenAI Infra, LLM</span>
    </div>
  </div>
</section>
